<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">
      <button class="home" type=""> HOME </button>

    </a>
    <form action="/action">

      <a href="/price_plans">
        <button type=""> Price Plan </button>
      </a>
    </form>


    <a href="/link user">
      <button class="link" type=""> Link user </button>
    </a>
  </div>
    <h1>User with a price plan</h1>
    <h4>Price plan</h4>

</body>
</html>