<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/greet.css">
  <title>Document</title>
</head>
<body>

  
  <div class="arrows">
    <a href="/">
  <button type=""> HOME </button>
</a>

</div>
<table>
 <h3>Price Plan</h3>
 
 <tr>
 {{#each ourNames}}
   
<h2><br> <a class="table" href="/price_plans/{{names}}">{{names}}</br></a></h2>

  
{{/each}}
      
 </tr>
  





</body>
</html> 














   

   

  



